

.App {
  text-align: center;
  display: flex;
  align-items: center;     /* Vertically center */
  justify-content: center;
}

.App-logo {
  height: 80vh;
  pointer-events: none;
}

 .navbr{
   height: 40px;
 }
.center-wrapper {
  
  min-height: 100vh;
  background-color: #f7f9fc; /* Optional background */
  padding: 20px;
  margin-top: 190px;
  
}
.bit {
  width: 200px;
  height: 60px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #0056b3;
  border: none;
  color: white;
  display: block;
  margin: 20px auto 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bit:hover {
  background-color: #0b1421;
}

.login-container {
  background-color: #a2aeb9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  height: 400px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 600vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 4vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  min-height: calc(100vh - 120px); /* Adjust based on Navbar and Footer height */
  padding-top: 40px; /* Space below Navbar */
  padding-bottom: 40px; /* Space above Footer */
}